@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

:root {
  --primary: #9d4edd;
  --primary-dark: #5a189a;
  --secondary: #1d1d1d;
  --text: #131420;
  --white: #ffffff;
  --dark-violet: #240046;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../background.avif');
  font-size: 16px;
  font-family: 'Pathway Extreme', sans-serif;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  position: relative;
  color: var(--primary-dark);
}

.clock {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.clock > div {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 85px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.clock .colon {
  width: 25px;
  background: transparent;
  border: none;
}

.clock > div > div {
  backdrop-filter: blur(10px);
  height: 80px;
  width: 100px;
  line-height: 80px;
  transition: all 800ms ease-in-out;
  font-weight: 700;
}

.clock > div.animate {
  animation: bounce 800ms ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    margin-top: 0px;
  }
  50% {
    margin-top: -20px;
  }
}
